/* The boring part ====================================== */
html {
	height: 100%;
    font-family: "canada-type-gibson", serif;
    font-size: 24px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    background: white;
    color: #414141;
}
body {
	background: url(images/ricepaper2.png) repeat;
	margin: 0;
}
p {
	margin-bottom: 20px;
	margin-top: 0;
}
img {
	height: auto;
	max-width: 100%;
	display: block;
}
.sr {
	position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}
.hide-for-now {
	display: none !important;
}

.temp-welcome {
	display: flex;
	align-items: center;
	height: 80vh;
	width: 50%;
	margin: 0 auto;
}

/* The fun part ====================================== */
.logo {
	position: absolute;
	top: 0;
	left: 430px;
	z-index: 9;
}
.book-it {
	color: #414141;
	text-decoration: none;
	z-index: 9;
	background: #7ec7e3;
	outline: none;
	border: none;
	font-size: 30px;
	line-height: 1.2;
	padding: 10px;
    -webkit-transition: all .35s cubic-bezier(.42,0,.58,1);
    transition: all .35s cubic-bezier(.42,0,.58,1);
    box-shadow: -5px 5px #ffffff;
    align-self: flex-end;
}
.book-it:hover {
	background: #ffffff;
	box-shadow: 0px 0px #ffffff;
}
.main {
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: center;
	width: 80%;
	margin: 0 auto;
	padding: 10vh 0;
	position: relative;
	box-sizing: border-box;
}
.main:after {
	
}
.main > .img {
	width: 300px;
	z-index: 2;
	background: #fff;
	padding: 10px;
	box-sizing: border-box;
}
.main > .text {
	background: rgba(255,255,255,.35);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
	width: 550px;
	margin-left: 5%;
	margin-top: 10%;
	padding: 25px;
	z-index: 2;
	font-size: 20px;
	line-height: 1.4;
	box-sizing: border-box;
}

.paint {
	display: block;
	width: 750px;
	height: 605px;
	background: url(images/paint.jpg) no-repeat;
	background-size: cover;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 50%;
	transform: translatey(-50%);
}

/* The mobile part ====================================== */

@media screen and (max-width: 700px) {
	.main {
		width: 100%;
		padding: 30px;
		display: block;
	}
	.main > .img, 
	.main > .text {
		width: 100%;
		margin: 0;
	}
	.logo, .book-it {
		position: relative;
	}
	.logo {
		left: 0;
	}
	.paint {
		width: 100%;
		height: auto;
	}
	.book-it {
		bottom: 0;
	}
}